html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
}
.navbar-soft {
background-color: #2b4f81; /* navy + abu */
}

.navbar-soft .nav-link {
color: #ffffff !important;
font-weight: 500;
}

.navbar-soft .nav-link:hover {
color: #ffd700 !important; /* kuning gold pas hover */
}
.hero-section {
    background: linear-gradient(to right, #f3f4f6, #e8edf3); /* Soft abu biru */
    color: #2c3e50;
  }